/* universal*/
*{
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}

/*body*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #8C1D40;
    color: #222;
}

/*header, footer, div*/
header, footer, div {
    width: 1000px;
    margin: 0px auto;
}

/*header and footer*/
header, footer {
    background-color: #8C1D40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/*heading1*/
h1 {
    font-size: 40px;
}

/*heading2*/
h2 {
    font-size: 32px;
}

/*heading3*/
h3 {
    font-size: 24px;
}

/*grid container id*/
#grid-container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

/*navigation*/
nav {
    background-color: #FFC627;
}

/*unordered list in the navigation*/
nav ul {
    padding-left: 0px;
}

/*list items in the navigation*/
nav li {
    list-style: none;
}

/*links in the navigation*/
nav a {
    display: block;
    background-color: #8C1D40;
    color: #FFF;
    padding: 8px;
    text-align: center;
    margin: 24px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/*link in navigation when hover*/
nav a:hover {
    background-color: #FFF;
    color: #8C1D40;
}

/*main*/
main {
    background-color: #FFF;
    padding: 24px;
}

/*link in the main*/
main a {
    color: #8C1D40;
    font-weight: bold;
}

/*link in the main when hover*/
main a:hover {
    background-color: #8C1D40;
    color: #FFF;
    padding: 4px;
}

/*paragraphs and quote*/
p, q {
    color: #444;
}

/*quote only*/
q {
    font-style: italic;
}

/*two years in the last paragraph in the main*/
.year {
    background-color: #FFC627;
    color: #555;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
}

/*heading2 in the footer*/
footer h2 {
    font-size: 24px;
    margin: 8px;
}

/*address*/
address {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

/*links in the footer*/
footer a {
    color: #FFF;
    display: inline-block;
    padding: 8px 16px 8px 8px;
    font-weight: normal;
}

/*links in the footer when hover*/
footer a:hover {
    color: #FFC627;
}